body{
    font-family:"trebuchet ms",sans-serif;
    font-size: 90%;
}

form{
    background-color: darkcyan;
    padding: 10px;
    width:280px;
    margin: 0 auto;
}



label{
    margin-top:10px;
    display:block;
}

label.inline{
    display:inline;
    margin-right:50px;
}

input, textarea{
    background-color: #FFF3F3;
}

input, textarea{
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius: 5px;
    width: 200px;
    box-shadow: 1px 1px 2px #C0C0C0 inset;
}

button{
    background-color: #FCDEDE;
    box-shadow: 1px 1px 1px #D83D3D;
}