.dropdown:hover .dropdown-menu {
  display: inline;
}

.jumbotron {
  height: 1000px;
  margin: 0;
}

.card-body {
  height: 250px;
}

#home {

}

#compte{

}

#apropos .jumbotron{
  height: 500px;
  margin: 50px;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}
